body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}
.container {
    margin-top: 50vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-55%);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 50px;
    -webkit-box-shadow: 5px 2px 103px -26px rgba(143,139,143,1);
    -moz-box-shadow: 5px 2px 103px -26px rgba(143,139,143,1);
    box-shadow: 5px 2px 103px -26px rgba(143,139,143,1);
}
.title {
    text-align: center;
    font-size: 2rem;
}
.text--top {
    font-size: 1.6rem;
    text-align: center;
}
.text {
    font-size: 1.3rem;
}
.text--register {
    text-align: center;
}
.list {
    margin: auto;
    margin-left: 20px;
}
.link {
    text-decoration: none;
    color: #4339d1;
}
.link--email:hover {
    text-decoration: underline;
}
.link--security {
    color: rgb(0, 0, 0);
}
.btn-block {
    margin-top: 5%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.btn {
    border: #4339d1 1px solid;
    margin: auto;
    color: #4339d1;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 2px;
    height: 30px;
    width: 150px;
    text-align: center;
    background-color: #FFFFFF;
}
.btn--form {
    height: 50px;
    margin-top: 10px;
}
.btn:hover {
    background-color: #4339d1;
    color: white;
}
.separator {
    width: 75%;
    height: 1px;
    background-color: black;
    margin: auto;
}
.separator--register {
    margin-top: 100px;
}
.form {
    display: flex;
    flex-direction: column;
    height: 150px;
}
.form--fields {
    margin-top: 15px;
    width: 200px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
.error {
    color: brown;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.error > ul {
    list-style-type: none;
    padding-left: 0;
}
