* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    overflow: hidden;
    display: flex;
}
.container {
    margin-top: 55vh; /* poussé de la moitié de hauteur de viewport */
    transform: translateY(-55%);
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 50px;
    -webkit-box-shadow: 5px 2px 103px -26px rgba(143,139,143,1);
    -moz-box-shadow: 5px 2px 103px -26px rgba(143,139,143,1);
    box-shadow: 5px 2px 103px -26px rgba(143,139,143,1);
}
.title {
    text-align: center;
    font-size: 2rem;
}
.text--top {
    font-size: 1.6rem;
    text-align: center;
    margin-top: 15px;
}
.text {
    font-size: 1.3rem;
    margin-top: 10px;
}
.text--register {
    text-align: center;
}
.list {
    margin-left: 75px;
    margin-top: 25px;
}
.link {
    text-decoration: none;
    color: #4339d1;
}
.link--email:hover {
    text-decoration: underline;
}
.link--security {
    color: rgb(0, 0, 0);
}
.btn-block {
    margin-top: 5%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.btn {
    border: #4339d1 1px solid;
    margin: auto;
    color: #4339d1;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 2px;
    height: 30px;
    width: 150px;
    text-align: center;
    background-color: #FFFFFF;
}
.btn--form {
    height: 50px;
    margin-top: 10px;
}
.btn:hover {
    background-color: #4339d1;
    color: white;
}
.separator {
    width: 75%;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}
.separator--register {
    margin-top: 100px;
}
.form {
    display: flex;
    flex-direction: column;
    height: 150px;
}
.form--fields {
    margin-top: 15px;
    width: 200px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}
.error {
    color: brown;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}
.error > ul {
    list-style-type: none;
    padding-left: 0;
}
.checkbox {
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}
label {
    margin-left: auto;
    margin-right: auto;
}
.naviguation {
    top: 0;
    height: 100vh;
    width: 145px;
    -webkit-box-shadow: 70px 0px 20px -68px rgba(161,161,161,1);
    -moz-box-shadow: 70px 0px 20px -68px rgba(161,161,161,1);
    box-shadow: 70px 0px 20px -68px rgba(161,161,161,1);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #FFFFFF;
}
.navblock {
    display: flex;
    cursor: pointer;
}
.navblock--logo {
    width: 75px;
    height: 75px;
    margin-left: 35px;
}
.navblock--text {
    display: none;
    margin-top: 50vh;
    transform: translateY(-55%);
    margin-left: 10px;
    font-size: 1.5rem;
    margin-top: 25px;
    color: black;
}
.navblock--logolast {
    margin-left: 37px;
}
.logout--deco {
    text-decoration: none;
}
.container--entreprise {
    width: 1000px;
    height: 80%;
}
.field--search {
    width: 115px;
    height: 45px;
    font-size: 1.1rem;
    background-image: url('../image/icon/search.png');
    background-size: 25px 25px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 40px;
    padding-top: 4px;
    transition: 0.4s ease-in-out;
    border: 2px solid gray;
    outline: none;
    border-radius: 5px;
}
.field--search:hover {
    background-image: url('../image/icon/searchHover.png');
    border-color: #4339d1;
}
.field--search:focus {
    width: 200px;
    border-color: #4339d1;
    background-image: url('../image/icon/searchHover.png');
}
.blocknew {
    width: 200px;
    height: 40px;
    border-radius: 200px;
    cursor: pointer;
    border: 2px solid black;
    padding: 5px;
    display: flex;
    background-color: #FFFFFF;
}
.textnew {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 9px;
    margin-left: 7px;
}
.iconnew {
    width: 40px;
    height: 40px;
    margin-left: 8px;
}
.entreprise--nav {
    display: flex;
    justify-content: space-between;
}
.form--enterprise {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
}
.form--fieldsmain {
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
}
.form--fieldsmain:focus {
    border: 2px solid #4339d1;
}
.form--fieldsarea {
    border-radius: 5px;
    border: 1px solid black;
    outline: none;
    width: 500px;
    height: 200px;   
}
.form--fieldsarea:focus {
    border: 2px solid #4339d1;
}
.btn--enterprise {
    height: 50px;
    margin-top: 10px;
}
.separator--enterprise {
    margin-top: 40px;
}
.title--enterprise {
    margin-top: 25px;
}
.newcontact {
    display: none;
}
.load {
    width: 500px;
    height: 500px;
    text-align: center;
    display: none;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.ajax-img {
    padding-top: 100px;
}
.load > p {
    height: max-content;
    width: max-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.ajax-img > img {
    width: 150px;
    height: 150px;
}
.succes {
    display: none;
    width: 500px;
    height: 500px;
    text-align: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.error {
    width: 500px;
    height: 500px;
    display: none;
    color: #222222;
    text-align: center;
}
.error p {
    width: 77%;
    margin: auto;
}
.error img {
    margin-left: auto;
    margin-right: auto;
}
.result-search {
    display: none;
    width: 240px;
    list-style-type: none;
}
.nav-second-level {
    margin: auto;
    list-style-type: none;
    border-left: 2px solid #4339d1;
    border-right: 2px solid #4339d1;
    border-bottom: 2px solid #4339d1;
    width: 240px;
    border-radius: 2px;
}
.block-search {
    width: 250px;
}
.search-link {
    text-decoration: none;
    color: black;
}
.search-link:hover {
    color:  #4339d1;
}
.search-list {
    padding-top: 5px;
    padding-left: 2px;
}
.search-list:hover {
    background-color: rgba(67, 57, 209, 0.3);
}
.succestext {
    margin-top: 10px;
}
.end-closebook {
    margin-top: 50px;
}
.select-selected {
    background-color: rgba(67, 57, 209, 0.3);
  }
.field-society {
   appearance: none;
}
#listpage {
    display: none;
    margin-top: 100px;
    margin: auto;
    width: 800px;
    height: 90%;
    font-size: 1.6em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.btn--list {
    width: 75px;
    height: 35px;
    font-size: 1rem;
    padding: 1px;
    text-align: center;
    margin: auto;
}
table {
    margin-top: 20px;
    width: 800px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.title--list {
    background-color: #4339d1;
    color: white;
    padding: 10px;
}
.society-list {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-evenly;
   
}
.society-list:hover {
    background-color: rgba(67, 57, 209, 0.3);
}
.list--first {
    display: table-cell;
    width: 250px;
    padding-top: 15px;
    font-size: 1.2rem;
    height: max-content;
}
.list--last {
    width: 75px;
    padding: 10px;
    display: table-cell;
}
.hidden {
    display: none;
}
#paginationContainer {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    width: max-content;
}
.white {
    background-color: white;
    cursor: pointer;
    margin-left: 5px;
}
.society-list > div {
    display: flex;
    flex-direction: column-reverse;
}
#blocFiche {
    display: none;
}

