<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>OptiWork</title>
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <h1 class="title">Bienvenue</h1>
        <div class="separator"></div>
        <p class="text--top">Ceci est un projet open-source baptisé OptiWork.</p>
        <ul class="list">
            <li>
                <p class="text">Il a pour but de faciliter l'organisation de votre recherche d'emploi.</p>
            </li>
            <li>
                <p class="text">Ce projet est en version Alpha, des bugs peuvent subsister.</p>
            </li>
            <li>
                <p class="text">Vous pouvez faire remonter les bugs via cet adresse : <a href="mailto:aferedye@gmail.com"
                        class="link link--email">aferedye@gmail.com</a></p>
            </li>
            <li>
                <p class="text">Pour pouvoir acceder au site vous devez vous connecter ou créer un compte.</p>
            </li>
        </ul>
        <div class="separator"></div>
        <div class="btn-block">
            <a href="{{ path('login') }}"/ class="link link--security">
                <div class="btn">Se connecter</div>
            </a>
            <a href="{{ path('register') }}" class="link link--security">
                <div class="btn">S'inscrire</div>
            </a>
        </div>
    </div>
</body>

</html>